/* css styles */

.page_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 70%;
  height: inherit;
  max-height: 15vw;
  padding: 0 10px;
  border-bottom: 3px solid #e3ddcc;
}

.logo_container {
  display: flex;
  box-sizing: border-box;
  width: 30%;
  height: auto;
  max-height: 15vw;
  order: 0;
  border-bottom: 3px solid #e3ddcc;
}

.logo {
  align-self: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.name {
  display: inline;
  text-align: right;
  box-sizing: border-box;
  width: 100%;
  height: 9vw;
  order: 2;
}


.title {
  display: inline;
  text-align: right;
  box-sizing: border-box;
  width: 100%;
  height: 6vw;
  order: 3;
}

.title_text {
  font-weight: normal;
}

.main_image {
  display: flex;
  width: 100%;
  padding: 30px 0 30px 0;
}

.large_image {
  align-self: flex-start;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0;
}

.featured_work {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
}

.project_container {
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 3px solid #e3ddcc;
}

.project_image {
  align-self: flex-start;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.project_heading {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #434d49;
  margin: 0;
  width: 100%;
}

.project_description {
  max-height: 20vw;
  overflow: auto;
}

.project_link {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  font-size: 1.2em;
  color: #434d49;
  margin-top: 0;
}

h1 {
  font-family: 'Coustard', serif;
  font-size: 6vw;
  color: #434d49;
  margin: 0;
}

h2 {
  font-family: 'Coustard', serif;
  font-size: 5vw;
  color: #434d49;
  margin: 0;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  color: #434d49;
  margin: 0;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5vw;
  color: #434d49;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}
